#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

.header-style{
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  font-size: 40px;
}

.search-input{
  height:40px;
  width:550px;
  font-size: 18px;
  padding-bottom: 0px;
  border-radius: 15px;
  border: 2px solid var(--border);
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  padding-left: 20px;
}

.search-button{
  height: 47px;
  width: 130px;
   border-radius: 15px;
   border: 2px solid var(--border);
   background-color: rgb(66, 65, 65);
   color: white;
   font-size: 18px;
   /* font-style: ; */
   color: rgb(214, 211, 211);
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.search-button:hover{
  background-color: rgb(90, 104, 100);
  color: white;
  border: 2px solid #6a6a6a;
  font-size: 22px;
}

.search-button-click{
  background-color: rgb(205, 129, 63);
  color: white;
  border: 2px solid #4f94a5;
  font-size: 22px;
}